@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

$primaryclr : white;

*{
    margin: 0;
    font-family: cursive;
}


// Header Section //
header{
    width: 100vw;

    nav.f-nav{
        @include flexCenter();
        background-color: red;
        width: 100vw;

        .flex-1{
            @include flexCenter();
            height: 15vh;
            width: 100vh;
        }    

        .border{
            border: 2px solid white;
            border-radius: 20px;
            padding: 1vh 1vw;
            display: inline-block;
        }

        h2{
            color: $primaryclr;
        }
}

nav.s-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    height: 10vh;

    .links{
        text-decoration: none;
        color: $primaryclr;
    }
}

}


